/* Footer */
footer {
  background-color: #00192b;
  color: white;
  display: flex;
  padding: 2rem;
  justify-content: center;
}

/* Element alignment */
p {
  margin: 1rem;
  font-size: 1.4rem;
}
.centerFooterElements {
  position: relative;
  text-align: center;
}

.alignRightFooterElements {
  text-align: right;
  position: absolute;
  right: 2rem;
}

/* Align button image and text vertically */
.githubButton > .githubLogo,
.githubButton > .buttonText {
  vertical-align: middle;
}

/* Link to project on GitHub */
.githubButton {
  border-radius: .5rem;
  border: .2rem solid white;
  background-color: black;
  color: white;
  height: max-content;
  width: max-content;
  padding: .5rem .5rem;
  transition: all .2s;
  box-shadow: black 0 .6rem 1rem;
  cursor: pointer;
}

.githubLogo {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.buttonText {
  padding-left: .5rem;
}

.githubButton:hover {
  border: .2rem solid black;
  background-color: white;
  color: black;
  transform: scale(1.125);
  box-shadow: none;
  font-weight: bold;
}

/* Change GitHub logo color on hover */
.githubButton:hover .githubLogo {
  content: url('../utils/images/github-invertocat-black.png');
  transform: scale(1.125);
}

.githubButton:active {
  transform: scale(1);
  font-weight: bold;
}

#githubProfile {
  color: white;
}

/* Responsive layout */
@media (max-width: 75rem) {
  .alignRightFooterElements {
    display: none;
  }
}