@font-face {
  font-family: VAGRounded;
  src: url('../utils/fonts/VAG\ Rounded\ Regular.ttf');
}

header {
  border-bottom: .2rem #068beb solid;
}

header h1 {
  text-align: center;
  margin: 0;
  font-family: VAGRounded;
  margin: 1.5rem;
}

#h1-container {
  max-width: 17rem;
  margin: auto;
  padding: none;
}

#reddit {
  color: #0471be;
  border-left: .2rem #0c84da solid;
  border-top: .2rem #0471be solid;
  border-bottom: .2rem #068beb solid;
  background-color: white;
  padding: 0 .3rem 0 .5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#lite {
  color: white;
  background: linear-gradient(#0471be, #068beb);
  padding: .2rem .5rem .2rem .3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-weight: 100;
}
