/* General post styles */
.fullPost {
  min-width: 30rem;
  border: .2rem solid #0c84da;
  border-radius: .5rem;
  margin: 0 1rem 2rem 1rem;
  background-color: white;
}

/* Score, subreddit, and username grid */
.postOrigin {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  grid-gap: 0;
  place-items: center;
  border-bottom: .2rem solid #068beb;
  background-color: #cbefff;
}

/* Score */
.postScore {
  margin: 0;
  font-weight: bold;
  margin-left: -.3rem;
  cursor: default;
}

.arrowIcon {
  width: 3.5rem;
  margin-top: .3rem;
}

/* Subreddit */
.postSubredditButton {
  background: linear-gradient(#068beb, #0a6cb3);
  border-radius: 2rem;
  margin-left: 1rem;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
}

.postSubredditButton:hover {
  scale: 1.1;
  transition: .3s all;
}

.postSubreddit {
  font-weight: bold;
  color: white;
  margin: .3rem 1rem;
}

.subredditName:hover {
  text-decoration: underline;
}

/* Username */
.postUsername {
  color: #464646;
  margin: 0 1rem;
  justify-self: right;
  font-size: 1.2rem;
  cursor: default;
}

.usernameButton {
  border: none;
  color: #464646;
  background-color: #cbefff;
  margin-left: .1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.usernameButton:hover {
  text-decoration: underline;
}

.username {
  /* Stops line breaking hyphens */
  white-space: nowrap;
}

/* Post Text */
.postText {
  font-family: 'Noto Sans', sans-serif;
  margin: 2rem 3rem;
}

/* Post Image/Video */
.postImage {
  width: 100%;
  max-width: calc(100% - 4rem);
  margin: 0 2rem;
}

.postVideo {
  width: 100%;
  max-width: calc(100% - 4rem);
  max-height: 80vh;
  margin: 0 2rem;
}

/* Comments */
.commentsButton {
  font-size: 1.4rem;
  background-color: white;
  color: #555555;
  border: none;
  margin: 1rem;
  padding: .5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.commentsButton:hover {
  color: black;
}

.commentsIcon {
  width: 2.5rem;
  height: 2rem;
  margin-right: .5rem;
}

.commentsText {
  font-weight: bold;
}

.commentsButton > .commentsIcon,
.commentsButton > .commentsText {
  vertical-align: middle;
}

/* Hide NSFW Content */
.nsfw {
  border: 2px solid red;
  border-radius: .5rem;
  font-size: 5rem;
  color: red;
  width: 80%;
  padding: 5rem 0;
  text-align: center;
  margin: auto;
}

/* Thumbnails and external links */
.thumbnailContainer {
  display: inline-block;
  width: 80%;
  margin: 0 3rem;
}

.thumbnailImage {
  margin-right: 1rem;
}

.thumbnailLink {
  font-size: 1.6rem;
  /* Wraps the external link in all browsers */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* View on Reddit button */
.redditButton {
  font-size: 1.4rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  padding: .5rem 3rem;
  border: none;
  color: white;
  background-color: #ff2b00;
  float: right;
  margin: 1rem 2rem 1rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: #ff2b00 .3rem .2rem 1rem;
}

.redditButton:hover {
  color: #ff2b00;
  background-color: white;
  border: .3rem solid #ff2b00;
  padding: .3rem 2.75rem;
}

.redditButton:active {
  box-shadow: none;
  transform: translateY(.2rem);
  color: #ff2b00 ;
}

/* Mobile layout for .postOrigin and .commentsSection */
@media (max-width: 27.5rem) {
  .postOrigin {
    grid-template-columns: min-content min-content 1fr;
  }

  .postSubredditButton {
    grid-column: 1 / span 3;
    grid-row: 1;
    justify-self: right;
    margin: .75rem .5rem .25rem 0;
  }

  .arrowIcon {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    margin-left: 1rem;
  }

  .postScore {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
  } 

  .postUsername, .usernameButton {
    font-size: 1.4rem;
    grid-column: 1 / span 3;
    grid-row: 2;
    margin: .2rem 1rem .2rem 0;
  }

  .postUsername {
    margin: 0.25rem .5rem .5rem 0;
  }

  .usernameButton {
    margin: auto;
    padding-left: .3rem;
  }
}

@media(max-width: 22.5rem) {
  .commentsSection {
    display: flex;
  }
}