.searchForm {
  width: 70vw;
  margin: 50px auto 0;
  padding: 30px 30px 0;
  border-top: 2px solid #0c84da;
  border-left: 2px solid #0c84da;
  border-right: 2px solid #0c84da;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: #0471be 1px 5px 15px;
}

#searchbar {
  font-size: 18px;
  width: 100%;
  padding: 15px;
  border: 1px solid #068beb;
  border-radius: 5px;
}

.sortBy {
  padding: 10px 0 5px 0;
}

/* Vertical alignment for radio buttons */
input[type="radio"] {
  margin-top: -3px;
  vertical-align: middle;
}

#relevance {
  margin-left: 15px;
}

#latest {
  margin-left: 15px;
}

.numberOfPosts {
  padding: 0px 0 30px 0;
}

.selectPostNumber {
  text-align: center;
  width: 60px;
  margin-left: 5px;
}

.searchButtonContainer {
  text-align: center;
}

.searchButton {
  font-size: 18px;
  /* Add searchForm padding to width */
  width: calc(70vw + 64px);
  background: linear-gradient(#0471be, #068beb);
  color: white;
  height: 40px;
  margin-bottom: 50px;
  border: 2px solid #0471be;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: #0471be 1px 6px 15px;
  cursor: pointer;
}

.searchButton:hover {
  background: linear-gradient(#ffffff, #b6d3e7);
  color: #0471be;
  transition: all 0.5s;
}

.searchButton:active {
  background: linear-gradient(#ffffff, #93c6eb);
}