/* Search Form */
.searchForm {
  width: 70%;
  margin: 5rem auto 0;
  padding: 3rem 3rem 0;
  background-color: #ebf3f8;
  border-top: .2rem solid #0c84da;
  border-left: .2rem solid #0c84da;
  border-right: .2rem solid #0c84da;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: #0471be .1rem .5rem 1.5rem;
  font-family: 'Noto Sans', sans-serif;
}

/* Searchbar */
#searchbar {
  font-size: 1.8rem;
  width: 100%;
  padding: 1.5rem;
  border: .1rem solid #068beb;
  border-radius: .5rem;
}

/* Sort by Relevance/Latest */
.sortBy {
  padding: 1rem 0 .5rem 0;
}

input[type="radio"] {
  margin-top: -.3rem;
  margin-right: .5rem;
  /* Vertical alignment for radio buttons */
  vertical-align: middle;
}

#relevance {
  margin-left: 1.5rem;
}

#latest {
  margin-left: 1.5rem;
}

/* Number of posts displayed */
.numberOfPosts {
  padding: 0 0 3rem 0;
}

.selectPostNumber {
  text-align: center;
  width: 6rem;
  margin-left: .5rem;
}

/* Search Button */
.searchButtonContainer {
  text-align: center;
}

.searchButton {
  font-size: 1.8rem;
  width: 70%;
  background: linear-gradient(#0471be, #068beb);
  color: white;
  height: 4rem;
  margin-bottom: 5rem;
  border: .2rem solid #0471be;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: #0471be .1rem .6rem 1.5rem;
  cursor: pointer;
}

.searchButton:hover {
  background: linear-gradient(#ffffff, #b6d3e7);
  color: #0471be;
  transition: all 0.5s;
}

.searchButton:active {
  background: linear-gradient(#ffffff, #93c6eb);
}