* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Makes 1rem = 10px */
html { 
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3, p, p.span, form, button {
  font-size: 1.6rem;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Responsive font-size */
@media (max-width: 122.5rem) {
  html {
    font-size: 60%;
  }
}


@media (max-width: 93.75rem) {
  html {
    font-size: 55%;
  }
}


@media (max-width: 58rem) {
  html {
    font-size: 50%;
  }
}